{% extends "base.html" %}

{% block article %}
<div>
		<a href="{% url 'base:create-article' %}" style="text-decoration: none;"><input type="text" class="form-control" placeholder="Write article..." style="width:500px;margin-top: 15px;" /></a>
		    <br>
		    	<div style="width: 500px;">
						{% if articles|length != 0 %}
									{% for article in articles %}
													<a href="{% url 'base:article-detail' article.pk %}"><article>{{article.headline}}</article></a>
																	<div>
																							{{article.body|safe|truncatechars:400}}
																											</div>
																														{% endfor %}
																																{% else %}
																																			<h3 style="margin-left: 80px;">No articles yet</h3>
																																					{% endif %}
																																						</div>
</div>
{% endblock %}
