{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-center justify-content-md-center mb-3">
	<div style="width: 750px;">
		<a href="{% url 'base:create-article' %}" style="text-decoration: none;"><input type="text" class="form-control" placeholder="Write article..." style="width:700px;margin-top: 15px;" /></a>
        {% if articles|length != 0 %}
            {% for article in articles %}
            	<div class="shadow-sm bg-white" style="width: 700px; padding: 5px 5px; margin-top:20px;border-radius: 10px;">
			<a href="{% url 'base:article-detail' article.pk %}"><article>{{article.headline}}</article></a>
	                <div style="max-width: 690px;margin-top:20px;">
	                    {{article.body|safe|truncatechars:400}}
	                </div>
	        </div>
            {% endfor %}
        {% else %}
            <h3 style="margin-left: 80px;">No articles yet</h3>
        {% endif %}
    </div>
</div>
{% endblock %}
