{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block content %}
	{% if saved_messages|length == 0 %}
		<h2 style="text-align:center;margin-top:100px;">No collections yet.</h2>
	{% endif %}
	{% for saved_message in saved_messages %}
		{% for article in saved_message.articles.all %}
			<div class="container card" style="width:650px;">
		      <div style="display: flex;margin-top: 10px;">
		        <img src="{{article.author.image.url}}" style="width:55px;height: 55px;border-radius: 100%;object-fit: cover;">
		        <div>
		          <h4><b>Dr.</b>{{article.author.name}}</h4>
		          <a href="{% url 'base:article-detail' article.id %}"><small class="text-muted">{{ article.date }}</small></a></h5>
		        </div>
		        {% if request.user == article.author %}
		          <div class="dropdown" style="margin-left: 270px;">
		            <i class="fas fa-ellipsis-h" id="dropdownMenuLink" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" style="font-size:20px;cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px;cursor: pointer;"></i>

		            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-left: -140px;">
		              <a class="dropdown-item" href="{% url 'base:edit-article' article.id %}">Edit</a>
		              <a class="dropdown-item" href="{% url 'base:delete-article' article.id %}">Delete</a>
		            </div>
		          </div>

		        {% else %}
		          <div class="dropdown" style="margin-left: 270px;">
		            <i class="fas fa-ellipsis-h" id="dropdownMenuLink" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" style="font-size:20px;cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

		            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-left: -140px;">
		              <a class="dropdown-item" href="{% url 'base:edit-article' article.id %}">Edit</a>
		              <a class="dropdown-item" href="{% url 'base:delete-article' article.id %}">Delete</a>
		              <a class="dropdown-item" href="{% url 'base:saved-messages-detail-create' 'article' article.id %}"><i class="far fa-bookmark"></i>  Save Article</a>
		            </div>
		          </div>
		        {% endif %}
		      </div>
		      <headline style="font-size: 26px;">{{article.headline}}</headline>
		        <br>
		        <body>{{article.body|safe}}</body>
		        <div class="card-footer bg-white">
		      {% for comment in article.article_comment.all %}
		      <b>
		        {% if comment.user != None %}
		          {{comment.user}}
		        {% else %}
		          {{comment.anon_user}}
		        {% endif %}
		      </b>
		        {% for c in comment.comment.all %}
		          <p>{{c.content}} <em> {{c.date}}</em></p>
		        {% endfor %}
		      {% endfor %}
		      <form method="post" action="{% url 'base:article-comment-view' article.id %}">
		        {% csrf_token %}
		        <input type="text" name="comment-text" style="width:400px;">
		        <button style="height:30px;width: 50px;border: 0;border-radius: 5px;background-color: blue;color: white;" type="submit">Post</button>
		      </form>
		      <hr>
		      <div class="row">
		        <div class="col-sm d-flex justify-content-center">
		          <form method="get">
		          <a href="/like-article/{{article.id}}/" style="color:black;">
		            {% if request|filter_user%}
		              {% if article.likes.all %}
		                <i class="fa{{article.likes.all|filter_like}} fa-thumbs-up" style="font-size: 30px;"></i>
		              {% else %}
		                <i class="far fa-thumbs-up" style="font-size: 30px;"></i>
		              {% endif %}
		            {% endif %}
		          </a>
		          <em>{{article.likes.all.count}}</em>
		          </form>
		        </div>
		        <div class="col-sm  d-flex justify-content-center" style="color:black;" data-toggle="modal"
		          data-target="#exampleModalCenter2" id="comment">
		          <i class="far fa-comments" style="font-size: 30px;"><input type="hidden" value="{{post.post_id}}"></i>
		        </div>
		        <div class="col-sm d-flex justify-content-center"><a href="#" style="color:black;"><i
		              class="far fa-share-square" style="font-size: 30px;"></i></a></div>
		      </div>
		    </div>
			</div>
		{% endfor %}
		{% for post in saved_message.posts.all %}
			<div class="saved-messages-list">
				<div class="card " style="width: 480px;margin-left: 20px;">
				    <div class="card-body card-body-middle mt-6">
				      <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
				        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				        <div class="modal-dialog modal-dialog-centered" role="document">
				          <div class="modal-content">
				            <div class="modal-header">
				              <h5 class="modal-title" id="exampleModalLongTitle">Post Comment</h5>
				              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                <span aria-hidden="true">&times;</span>
				              </button>
				            </div>
				            <div class="modal-body">
				              <div class="comments-container">

				              </div>
				              <form method="post">
				                {% csrf_token %}
				                {{ comment_form|crispy }}
				                <div class="modal-footer">
				                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				                  <button type="submit" class="btn btn-primary">Post</button>
				                </div>
				              </form>
				            </div>
				          </div>
				        </div>
				      </div>
				      <div class="user-post-details" style="display: flex;justify-content: space-between;">
				        <div style="display:flex;">
				          <img class="post-img" src="{{post.owner.image.url}}"
				          style="width:50px;height: 50px; object-fit: cover;border-radius: 50%;">
				          <h5 class="card-title" style="display:flex;flex-direction: column; margin-top: 5px;"><a href="{% if request.user == post.owner %}{% url 'base:dashboard' post.owner.name|slugify post.owner.pk %}{% else %}{% url 'base:user-profile-showcase' post.owner.name post.owner.pk %}{% endif %}" style="color: black;">{{ post.owner.name }}</a><a href="{% url 'base:explore-post' post.post_id %}"><small
				            class="text-muted">{{ post.pub_date }}</small></a></h5>
				        </div>
				        {% if request.user == post.owner %}
				          <div class="dropdown">
				            <i class="fas fa-ellipsis-h" id="dropdownMenuLink" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" style="font-size:20px;cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

				            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-left: -140px;">
				              <a class="dropdown-item" href="{% url 'base:edit-post' post.post_id request.user.pk %}"><i class="fas fa-edit"></i> Edit</a>
				              <a class="dropdown-item" href="{% url 'base:delete-post' post.post_id request.user.pk %}"><i class="fas fa-trash-alt"></i> Delete</a>
				              <a class="dropdown-item" href="{% url 'base:saved-messages' 'post' post.post_id %}"><i class="far fa-bookmark"></i>  Save Post</a>
				              <a class="dropdown-item" id="copyPostLink" style="cursor:pointer;"><i class="fas fa-link"></i> Copy link</a>
				            </div>
				          </div>
				        {% else %}
				          <div class="dropdown">
				            <i class="fas fa-ellipsis-h" id="dropdownMenuLink" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" style="font-size:20px;cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

				            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-left: -140px;">
				              <a class="dropdown-item" href="{% url 'base:saved-messages-detail-create' 'post' post.post_id %}"><i class="far fa-bookmark"></i>  Save Post</a>
				              <a class="dropdown-item" id="copyPostLink" style="cursor:pointer;"><i class="fas fa-link"></i> Copy link</a>
				                <input type="text" value="{{request.get_host}}/posts/post-{{post.post_id}}" id="copyPostLinkValue" style="display:none;">
				            </div>
				          </div>
				        {% endif %}
				      </div>
				      <p class="card-text">{{ post.text }}</p>
				      {% if post.photo %}
				      <img class="card-img-bottom" src="{{ post.photo.url }}" alt="Card image cap">
				      {% elif post.video %}
				      <video style="width: 100%;" controls>
				        <source src="{{post.video.url}}" type="video/{{post.video|get_extension}}">
				      </video>
				      {% endif %}
				    </div>
				    <div class="card-footer bg-white">
				      {% for comment in post.post_comment.all %}
				      <b>
				        {% if comment.user != None %}
				          {{comment.user}}
				        {% else %}
				          {{comment.anon_user}}
				        {% endif %}
				      </b>
				        {% for c in comment.comment.all|dictsort:"date" %}
				          <p>{{c.content}} <em> {{c.date}}</em></p>
				        {% endfor %}
				      {% endfor %}
				      <form method="post" action="{% url 'base:post-comment-view' post.post_id %}">
				        {% csrf_token %}
				        <input type="text" name="comment-text" style="width:380px;">
				        <button style="height:30px;width: 50px;border: 0;border-radius: 5px;background-color: blue;color: white;" type="submit">Post</button>
				      </form>
				      <hr>
				      <div class="row">
				        <div class="col-sm d-flex justify-content-center">
				          <form method="get">
				          <a href="/like/{{post.post_id}}/" style="color:black;">
				            {% if request|filter_user%}
				              {% if post.likes.all %}
				                <i class="fa{{post.likes.all|filter_like}} fa-thumbs-up" style="font-size: 30px;"></i>
				              {% else %}
				                <i class="far fa-thumbs-up" style="font-size: 30px;"></i>
				              {% endif %}
				            {% endif %}
				          </a>
				          <em>{{post.likes.all.count}}</em>
				          </form>
				        </div>
				        <div class="col-sm  d-flex justify-content-center" style="color:black;" data-toggle="modal"
				          data-target="#exampleModalCenter2" id="comment">
				          <i class="far fa-comments" style="font-size: 30px;"><input type="hidden" value="{{post.post_id}}"></i>
				        </div>
				        <div class="col-sm d-flex justify-content-center"><a href="#" style="color:black;"><i
				              class="far fa-share-square" style="font-size: 30px;"></i></a></div>
				      </div>
				    </div>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}
