{% extends "base.html" %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{user.image.url}}" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{user.name}}
                                    </h5>
                                    <h6>
                                        {{user.profession}}
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Posts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="articles-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Articles</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2" style="display: flex;margin-left: -200px;">
                        <div style="margin-left: 5px;">
                            <a href="{% url 'base:appointment' user.id %}"><button class="btn btn-secondary" type="button">Make Appointment</button></a>
                        </div>
                        <div style="margin-left: 5px;">
                            <a href="/chat/{{user.pk}}"><button class="btn btn-outline-primary" type="button">Message</button></a>
                        </div>
                        <div style="margin-left: 5px;">
                            <a href="{% url 'base:follow' user.name|slugify user.pk %}">
                                {% if followed %}
                                    <button type="button" class="btn btn-outline-primary">Unfollow</button>
                                {% else %}
                                    <button class="btn btn-primary" type="button">Follow</button></a>
                                {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>BIO</p>
                            <span>{{user.bio}}</span>
                        </div>
                    </div>
                    <div class="col-md-8" style="">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        {% if posts|length > 0 %}
                                            {% for post in posts %}
    	                                        <div class="card" style="">
    	                                            {% if post.text %}
                                                        <p>{{post.text}}</p>
                                                    {% endif %}
                                                    <small class="text-muted">{{post.pub_date}}</small>
                                                    {% if post.photo %}
						    <img src="{{media_url}}{{post.photo}}" style="max-width: 500px;max-height: 500px;">
                                                    {% endif %}
    	                                        </div>
                                            {% endfor %}
                                        {% else %}
                                            <h1>No posts yet</h1>
                                        {% endif %}
                                    </div>
                                            
                            </div>
                            <div class="tab-pane fade" id="articles" role="tabpanel" aria-labelledby="profile-tab">
                                {% if articles|length > 0 %}
                                    {% for article in articles %}
                                        <div class="row">
                                            <div class="col-md-6" style="width: 300px;">
                                                <label style="width: 300px;"><a href="{% url 'base:article-detail' article.id %}" style="color:black;width: 300px;word-wrap: break-word;">{{article.headline}}</a></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{article.date}}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <h1>No articles yet</h1>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
{% endblock %}
